{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "production": {
      "presets": [
        "minify"
      ]
    }
  },
  "highlightCode": false,
  "comments": false
}
