{
  "extends": [
    "airbnb"
  ],
  "globals": {
    "document": true
  },
  "rules": {
    "no-console": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "prefer-destructuring": ["error", {"object": true, "array": false}],
    "quote-props": "off",
    "linebreak-style": "off",
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  }
}
