{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "globals": {
    "fetch": true,
    "window": true,
    "document": true
  },
  "rules": {
    "prettier/prettier": ["error"],
    "no-console": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "react/react-in-jsx-scope": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "prefer-destructuring": ["error", { "object": true, "array": false }],
    "quote-props": 0,
    "linebreak-style": 0
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  }
}
