@import 'normalize.css'; /* from node_modules */
@import 'media.css';
@import 'fonts.css';

html {
  font-family: 'MuseoSans', sans-serif;
}

body {
  display: block;

  @media (--xs-only) {
    border: 5px solid yellow;
  }

  @media (--sm-only) {
    border: 5px solid aqua;
  }

  @media (--md-only) {
    border: 5px solid blue;
  }

  @media (--lg-only) {
    border: 5px solid violet;
  }
}

.background {
  height: 200px;
  background-image: url('../img/photo.jpg');
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  border: 5px solid green;
}

.footer {
  border: 5px solid green;
}
