@import "normalize.css";
@import "fonts.css";

html {
  font-family: "MuseoSans", sans-serif;
}

body {
  .text {
    color: red;
  }

  @media (--xs-only) {
    border: 5px solid yellow;
  }

  @media (--sm-only) {
    border: 5px solid aqua;
  }

  @media (--md-only) {
    border: 5px solid blue;
  }

  @media (--lg-only) {
    border: 5px solid violet;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
